#main-header {
	background: #E50521;
	color: white;
	height: 75px;
}	
	#main-header a {
		color: white;
	}
	img{
			width: 200px;
 	height: 100px;
 	display: inline-block;
	}
 

#logo-header {
	float: left;

	text-decoration: none;
	width: 200px;
	height: 100px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-style: bold;
}
	#logo-header:hover {
		color: #960312;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #960312;
				}